:root{
    --color-secondary: #34B0BE;
}

.portfolio{
    margin: 5rem 0 5rem 0;
    text-align: center;
    width: 100%;
}

.portfolio-title{
    color: var(--color-secondary);
    font-size: 3rem;
    font-size: 200;
    margin: 5rem 0 5rem 0;
}

/* .portfolios{
    display: flex;
    justify-content: space-around;
    height: 20rem;
    padding: 0 1.5rem 0 1.5rem;
} */

.portfolios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 20rem;
}

.portfolio-my-portfolio-1{
    background: url(../../image/Rectangle\ 65.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    width: 100%;
}

.portfolio-my-portfolio-2{
    background: url(../../image/Home.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    width: 100%;
}

.portfolio-my-portfolio-3{
    background: url(../../image/Rectangle\ 53.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    width: 100%;
}

/* Media Queries */
@media (min-width: 400px){

    .portfolio-title{
        font-size: 2rem;
        margin: 3rem;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 50rem;
    }

    .portfolio-my-portfolio-1,
    .portfolio-my-portfolio-2,
    .portfolio-my-portfolio-3{
        margin-bottom: 2rem;
        width: 100%;
    }
} 

@media (min-width: 576px){

    .portfolio-title{
        font-size: 2rem;
        margin: 3rem;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 50rem;
    }

    .portfolio-my-portfolio-1,
    .portfolio-my-portfolio-2,
    .portfolio-my-portfolio-3{
        margin-bottom: 2rem;
        width: 100%;
    }
} 

@media (min-width: 768px){

    .portfolio-title{
        font-size: 2.5rem;
        margin: 3rem;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 50rem;
    }

    .portfolio-my-portfolio-1,
    .portfolio-my-portfolio-2,
    .portfolio-my-portfolio-3{
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 100%;
    }
}

@media (min-width: 992px){

    .portfolio-title{
        font-size: 2.5rem;
        margin: 3rem 0 3rem 0;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 20rem;
    }

    .portfolio-my-portfolio-1,
    .portfolio-my-portfolio-2,
    .portfolio-my-portfolio-3{
        width: 85%;
    }
}

@media (min-width: 1200px){

    .portfolio-title{
        font-size: 2.5rem;
        margin: 3rem 0 3rem 0;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 20rem;
    }

    .portfolio-my-portfolio-1,
    .portfolio-my-portfolio-2,
    .portfolio-my-portfolio-3{
        width: 90%;
    }
}