:root{
    --color-primary:#fff;
    --color-secondary: #34B0BE;
    --color-third: #D1CECA;
    --color-banner: #2a2b3d;
}

.services{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.services-title{
    color: var(--color-secondary);
    font-size: 3rem;
    font-size: 200;
    margin-bottom: 2rem;
}

.my-services{
    background: url(../../image/Ellipse\ 14.svg);
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-position: center -2%;
    background-size: contain;
    border-radius: 0.2rem;
    display: inline-block;
    margin: 2rem;
    width: 20%;
}

.my-services img{
    margin: 3.2rem 0 1rem 0;
}

.my-services-title{
    color: var(--color-banner);
    font-size: 1.2rem;
}

.my-services-paragraph{
    color: var(--color-third);
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0 3rem 0;
    padding: 1rem;
}

/* Media Queries */
@media (min-width: 400px){
    .services-title{
        font-size: 2rem;
        margin-bottom: 3rem;
        padding: 0 1rem 0 1rem;
    }

    .services{
        display: block;
        width: 100%;
    }

    .my-services img{
        height: 4rem;
        margin-top: 2.5rem;
    }

    .services-my-services{
        width: 100%;
        padding: 0 1rem 0 1rem;
    }

    .my-services{
        background-position: center -15%;
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .my-services-paragraph{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6;
        padding: 1rem 1rem 3rem 1rem;       
    }
}

@media (min-width: 576px){
    .services-title{
        font-size: 2rem;
        margin-bottom: 3rem;
        padding: 0 1rem 0 1rem;
    }

    .my-services img{
        margin-top: 3.5rem;
        height: 5rem;
    }

    .services-my-services{
        padding: 0 1rem 0 1rem;
    }

    .my-services{
        background-position: center -15%;
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .my-services-paragraph{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6;
        padding: 1rem 1rem 3rem 1rem;       
    }
}

@media (min-width: 768px){
    .services-title{
        font-size: 2.5rem;
        margin-bottom: 3rem;
        padding: 0 1rem 0 1rem;
    }

    .my-services img{
        margin-top: 3.5rem;
        height: 6rem;
    }

    .services-my-services{
        padding: 0 1rem 0 1rem;
    }

    .my-services{
        background-position: center -15%;
        display: block;
        margin: 0 auto;
        width: 40%;
    }

    .my-services-paragraph{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6;
        padding: 1rem 1rem 3rem 1rem;       
    }
}

@media (min-width: 992px){
    .services-title{
        font-size: 2.5rem;
        margin-bottom: 3rem;
        padding: 0 1rem 0 1rem;
    }

    .my-services img{
        margin-top: 3rem;
        height: 6rem;
    }

    .services-my-services{
        padding: 0 1rem 0 1rem;
    }

    .my-services{
        background-position: center -1%;
        display: inline-block;
        justify-content: space-around;
        margin: 2rem;
        width: 25%;
    }

    .my-services-title{
        font-size: 1.2rem;
    }

    .my-services-paragraph{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6;
        padding: 1rem 1rem 3rem 1rem;       
    }
}

@media (min-width: 1200px){
    .services-title{
        font-size: 3rem;
        margin-bottom: 3rem;
        padding: 0 1rem 0 1rem;
    }

    .my-services img{
        margin-top: 4rem;
        height: 6rem;
    }

    .services-my-services{
        padding: 0 1rem 0 1rem;
    }

    .my-services{
        background-position: center -7%;
        display: inline-block;
        justify-content: space-around;
        margin: 2rem;
        width: 25%;
    }

    .my-services-title{
        font-size: 1.2rem;
    }

    .my-services-paragraph{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6;
        padding: 1rem 1rem 3rem 1rem;       
    }
}

