:root{
    --color-primary:#fff;
    --color-secondary: #34B0BE;
    --color-third: #D1CECA;
    --color-banner: #2a2b3d;
}

.footer{
    background-color: var(--color-banner);
    height: 10rem;
    text-align: center;
    width: 100%;
}

.footer-paragraph{
    color: var(--color-secondary);
    font-size: 1.3rem;
    line-height: 1.6;
    padding-top: 5%;
}

.love{
    content: '\2665';
	color: var(--color-secondary);
}

/* Media Queries */
@media (min-width: 400px){

    .footer{
        margin-top: 1rem;
    }

    .footer-paragraph{
        font-size: 1rem;
        padding-top: 18%;
    }
}

@media (min-width: 576px){

    .footer{
        margin-top: 1rem;
    }

    .footer-paragraph{
        font-size: 1rem;
        padding-top: 13%;
    }
}

@media (min-width: 768px){

    .footer{
        margin-top: 1rem;
    }

    .footer-paragraph{
        font-size: 1.2rem;
        padding-top: 10%;
    }
}

@media (min-width: 992px){

    .footer{
        margin-top: 1rem;
    }

    .footer-paragraph{
        font-size: 1.2rem;
        padding-top: 8%;
    }
}

@media (min-width: 1200px){

    .footer{
        margin-top: 1rem;
    }

    .footer-paragraph{
        font-size: 1.2rem;
        padding-top: 5%;
    }
}