:root{
    --color-primary:#fff;
    --color-secondary: #34B0BE;
    --color-third: #D1CECA;
    --color-banner: #2a2b3d;
}

.hidden {
    display: none;
}

.nav{
    padding: 1rem 3rem;
    text-align: right;
}

.nav ul{
  list-style: none;
  text-align: center;
}

.item{
    margin: 1rem;
    width: 100%;
}

.nav-item{
    color: var(--color-primary);
    text-decoration: none;
}

.active{
    color: var(--color-secondary);
}

.nav-button{
    border: none;
    background-color: transparent;
}

.nav-button:hover{
    cursor: pointer;
}


/* Media Queries */

@media (min-width: 400px){

}

@media (min-width: 576px){
    
}

@media (min-width: 992px){
    ul{
        padding-top: 1.1rem;
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        margin: 0 auto;
        width: 100%;
    }

    .nav ul{
        display: grid; 
        grid-auto-flow: column;
    }

    .nav-item{
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
        color: var(--color-primary);
        font-size: 1.2rem;
        font-weight: 500;
    }

    .nav-item::after{
        background: var(--color-primary);
        content: "";
        clip-path: var(--clippy);
        display: block;
        height: 0.2rem;
        margin-top: 0.3rem;
        transition: clip-path .3s;
        width: 90%;
    }
    
    .active{
        color: var(--color-secondary);
    }
    
    .active::after{
        background: var(--color-secondary);
    }
    
    .nav-item:hover{
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .nav-button{
        display: none;
    }
}
